.nav.navbar-nav {
  align-items:center;
  align-content:center;
  align-self:center;
}

#hero2 {
}

#bord {
  border-left:3px solid purple;
}

#bord1 {
  border-left:3px solid purple;
}

#bord0 {
  border-left:3px solid purple;
}

